# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
# import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
from api_keys import g_key
print(g_key)

AIzaSyDzrWHdvPdGzMGrCg0x76y5QiWruSgRazc

In [2]:
!pwd

/c/Users/kliu3/Desktop/personal_dashclass/python-api-challenge/VacationPy

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_data_df = pd.read_csv("../WeatherPy/weather_data.csv")

weather_data_df

,city,lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,antalaha,-14.9003,50.2788,302.50,62,56,2.12,MG,1612680077
1,sydney,-33.8679,151.2073,297.59,81,0,2.68,AU,1612680036
2,puerto ayora,-0.7393,-90.3518,298.15,95,46,0.45,EC,1612680131
3,kiunga,-6.1219,141.2906,305.89,56,80,2.89,PG,1612680350
4,touros,-5.1989,-35.4608,296.15,94,20,1.54,BR,1612680350
...,...,...,...,...,...,...,...,...,...
575,borba,-4.3878,-59.5939,296.71,97,100,0.46,BR,1612681143
576,yankton,42.8711,-97.3973,253.15,84,1,1.80,US,1612681143
577,grand-lahou,5.1367,-5.0242,298.67,92,78,3.13,CI,1612681143
578,kieta,-6.2167,155.6333,301.51,77,100,2.01,PG,1612681143
579,santa fe,-31.6333,-60.7000,293.15,84,0,2.48,AR,1612681143

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [5]:

locations = weather_data_df[["lat", "Lng"]]
humidity=weather_data_df["Humidity"].astype(float)

fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
weather_narrow_df=weather_data_df.loc[(weather_data_df['Wind Speed']<=10) & (weather_data_df['Cloudiness']==0) & (weather_data_df['Max Temp']>294)&(weather_data_df['Max Temp']<299)]
weather_narrow_df

,city,lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,sydney,-33.8679,151.2073,297.59,81,0,2.68,AU,1612680036
29,wanning,18.8003,110.3967,297.06,70,0,4.70,CN,1612680359
31,mataura,-46.1927,168.8643,294.41,66,0,1.59,NZ,1612680360
41,sur,22.5667,59.5289,296.67,46,0,3.35,OM,1612680362
46,moron,-34.6534,-58.6198,295.93,91,0,0.89,AR,1612680364
119,calvinia,-31.4707,19.7760,294.79,52,0,2.41,ZA,1612680502
161,kruisfontein,-34.0033,24.7314,298.15,66,0,2.68,ZA,1612680571
193,ormara,25.2088,64.6357,295.19,29,0,2.10,PK,1612680578
206,buldana,20.5333,76.1833,298.03,20,0,3.27,IN,1612680541
209,road town,18.4167,-64.6167,298.71,93,0,1.79,VG,1612680630
315,plettenberg bay,-34.0527,23.3716,295.63,68,0,4.04,ZA,1612680580
317,mecca,21.4267,39.8261,296.10,34,0,3.95,SA,1612680787
367,umm lajj,25.0213,37.2685,294.84,42,0,6.91,SA,1612680855
416,vryburg,-26.9566,24.7284,294.57,70,0,2.33,ZA,1612680926
438,dunmore town,25.5000,-76.6500,297.39,88,0,8.37,BS,1612680932
457,acajutla,13.5928,-89.8275,297.20,69,0,2.29,SV,1612680996
476,jiazi,22.8779,116.0670,295.63,55,0,6.69,CN,1612681000
567,kamalia,30.7333,72.6500,298.59,21,0,1.12,PK,1612681141
574,lai,9.3952,16.2989,295.58,21,0,1.87,TD,1612681142

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
lat =weather_narrow_df['lat'].values
lng =weather_narrow_df['Lng'].values
cities = weather_narrow_df["city"].values
hotel_names=[]

for i in range(len(cities)):
    city = cities[i]
    target_coordinates = str(lat[i]) + " " + str(lng[i])
    target_search = "hotel"
    target_radius = 5000
    target_type = "hotel"
    
    params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}
    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
    response = requests.get(base_url, params=params)


    # convert response to json
    hotel_data = response.json()
    
    if len(hotel_data["results"]) == 0:
        hotel_names.append("")
        continue
    
  
    #print(json.dumps(hotel_data, indent=4, sort_keys=True))
    #print (hotel_data["results"])
    hotel_names.append(hotel_data["results"][0]["name"])

In [8]:
hotel_names

['Kirketon Hotel Sydney',
 'Huangqi Hotel',
 'Southland Organic Farmstay',
 'Sur Plaza Hotel',
 'The Palm House Hotel',
 'Kleinplasie',
 '',
 'Ormara Beach Resort',
 'Hotel O2 inn',
 'Wyndham Tortola BVI Lambert Beach Resort',
 'Formosa Bay Resort',
 'Pullman Zamzam Makkah',
 'HP Red Sea Hotel',
 'Game View Lodge',
 'Pink Sands Resort',
 'Villavela Hotel Boutique',
 '金海大酒店',
 'AL.USMANIA',
 '']

In [9]:
weather_narrow_df["Hotel Name"]=hotel_names

<ipython-input-9-aa1e2866d549>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_narrow_df["Hotel Name"]=hotel_names

In [21]:
weather_narrow_df = weather_narrow_df.rename(columns={"city":"City","lat":"Lat"})
weather_narrow_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
1,sydney,-33.8679,151.2073,297.59,81,0,2.68,AU,1612680036,Kirketon Hotel Sydney
29,wanning,18.8003,110.3967,297.06,70,0,4.70,CN,1612680359,Huangqi Hotel
31,mataura,-46.1927,168.8643,294.41,66,0,1.59,NZ,1612680360,Southland Organic Farmstay
41,sur,22.5667,59.5289,296.67,46,0,3.35,OM,1612680362,Sur Plaza Hotel
46,moron,-34.6534,-58.6198,295.93,91,0,0.89,AR,1612680364,The Palm House Hotel
119,calvinia,-31.4707,19.7760,294.79,52,0,2.41,ZA,1612680502,Kleinplasie
161,kruisfontein,-34.0033,24.7314,298.15,66,0,2.68,ZA,1612680571,
193,ormara,25.2088,64.6357,295.19,29,0,2.10,PK,1612680578,Ormara Beach Resort
206,buldana,20.5333,76.1833,298.03,20,0,3.27,IN,1612680541,Hotel O2 inn
209,road town,18.4167,-64.6167,298.71,93,0,1.79,VG,1612680630,Wyndham Tortola BVI Lambert Beach Resort
315,plettenberg bay,-34.0527,23.3716,295.63,68,0,4.04,ZA,1612680580,Formosa Bay Resort
317,mecca,21.4267,39.8261,296.10,34,0,3.95,SA,1612680787,Pullman Zamzam Makkah
367,umm lajj,25.0213,37.2685,294.84,42,0,6.91,SA,1612680855,HP Red Sea Hotel
416,vryburg,-26.9566,24.7284,294.57,70,0,2.33,ZA,1612680926,Game View Lodge
438,dunmore town,25.5000,-76.6500,297.39,88,0,8.37,BS,1612680932,Pink Sands Resort
457,acajutla,13.5928,-89.8275,297.20,69,0,2.29,SV,1612680996,Villavela Hotel Boutique
476,jiazi,22.8779,116.0670,295.63,55,0,6.69,CN,1612681000,金海大酒店
567,kamalia,30.7333,72.6500,298.59,21,0,1.12,PK,1612681141,AL.USMANIA
574,lai,9.3952,16.2989,295.58,21,0,1.87,TD,1612681142,

In [20]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in weather_narrow_df.iterrows()]
locations = weather_narrow_df[["Lat", "Lng"]]

In [27]:
# Add marker layer ontop of heat map
marker_locations = weather_narrow_df[['Lat', 'Lng']]

# Create a marker_layer using the hotel name list to fill the info box
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations,
    info_box_content=[f"Hotel Name: {name} <br> City: {city} <br> Country:{Country}" for name, city, Country in zip(hotel_names, weather_narrow_df["City"], weather_narrow_df["Country"])])
fig.add_layer(markers)
fig.add_layer(heat_layer)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))